@model ArtListViewModel

@foreach (var art in Model.Arts)
{
    <div class="card" style="width: 18rem">
        <img class="card-img-top" src="@art.Image" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">@art.Title</h5>
            <p class="card-text mb-1 price">Price: @art.Price.ToString("c")</p>
            <p class="card-text">@art.Description</p>
            <a href="#" class="btn btn-primary">Add To Cart</a>
        </div>
    </div>
}


